body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > div {
  border: 1px solid rgb(198, 198, 198);
}

.container {
  height: 40vw;
  width: 40vw;
  background: white;
}

.container > div {
  flex: auto;
}

.container > div > div {
  flex: auto;
}

button {
  margin-bottom: 30px;
  padding: 10px;
  text-decoration: solid;
  width: 100px;
  border-radius: 20px;
}
